.video {
  padding-top: 100px;
}
  
.video__iframe {
  border: none;
}
  
.video__iframes {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px 0 -50px;
  column-gap: 20px;
  z-index: 1;
}